@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─ RESET
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/

* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: none;
    /*─ Debug font size on iphone when landscape orientation ─*/
    -webkit-font-smoothing: subpixel-antialiased;
    /*─ Debug safari font weight when fixed element on the page ─*/
    -webkit-font-smoothing: antialiased;
    /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

html,
body,
nav,
header,
footer,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ul,
li,
table,
form,
label,
input,
textarea,
select,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Poppins";
    font-size: 100%;
}

html {
    min-height: 100%;
    display: flex;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

input,
textarea,
select,
button {
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    outline: none;
    border: none;
    background: none;
    color: inherit;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type="submit"]:hover,
button:hover {
    cursor: pointer;
}

input::-ms-clear {
    display: none;
    /*─ IE11 → remove cross to close ─*/
}

textarea {
    overflow: auto;
    /*─ Hide scroll bar on IE ─*/
}

a {
    color: inherit;
    text-decoration: none;
}

img,
video,
svg,
picture {
    display: block;
}

img,
video {
    width: 100%;
    height: auto;
}

svg {
    width: 100%;
    height: 100%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
    flex: 1;
    font-family: "Poppins";
    font-size: 13px;
    background: white;
    font-family: "Fanwood Text", serif;
    padding-top: 102px;
}

h1,
h2,
h3,
h4 {
    font-family: "Montserrat", sans-serif;
}

/* Header */

.header {
    top: 0;
    padding: 0.5% 3%;
    padding-bottom: 0;
    margin-bottom: 1rem;
    position: fixed;
    width: 100%;
    background-color: white;
}

.header .bottom-border {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #6b7280;
    height: 92px;
    border-color: rgb(243 244 246 / 1);
    border-bottom-width: 2px;
}

@media (max-width: 1300px) {
    .header {
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        /*height: 125px;*/
    }
}

.header-nav {
    display: flex;
}

@media (max-width: 1024px) {
    .header {
        justify-content: space-between;
    }

    .header-nav {
        display: none;
    }

    .header .buttons {
        display: none;
    }
}

.header-nav .links {
    padding-left: 30px;
    color: rgb(107 114 128);
}

.header-nav .links:hover {
    color: rgb(65, 67, 74);
}

.buttons {
    align-items: center;
}

.signin {
    color: rgb(107 114 128);
    border-radius: 0.375rem;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    margin-right: 15px;
}

.signin:hover {
    color: rgb(43, 43, 47);
}

.signup {
    color: white;
    padding: 5px 15px;
    background-color: #3d5cb2;
    border: 1px solid #3d5cb2;
    border-radius: 0.375rem;
    cursor: pointer;
}

.signup:hover {
    background-color: #31488b;
}

.buttons {
    display: flex;
}

.username {
    color: white;
    font-family: "Montserrat";
    margin-right: 15px;
    margin-top: 10px;
}

#logo {
    height: 125px;
    max-width: 100px;
    height: auto;
    width: auto;
}

.menu-sport {
    position: relative;
}

.dropdown-menu {
    transform: translateX(-25%);
    visibility: hidden;
    position: absolute;
    background-color: white;
    margin-top: 1rem;
    border-radius: 0.375rem;
    width: 100vw;
    max-width: 20rem;
    z-index: 10;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border: 0.5px solid rgb(0 0 0 / 0.1);
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    opacity: 0;
}

.active {
    visibility: visible;
    opacity: 1;
}

.dropdown-links-container {
    display: grid;
    padding: 2rem;
}

.dropdown-links {
    padding: 0.75rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.dropdown-links:hover {
    background-color: #f9fafb;
}

.dropdown-links svg {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
    color: #3d5cb2;
}

.mobile-menu {
    display: none;
}

.mobile-menu-button {
    display: none;
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 2rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

@media (max-width: 1024px) {
    .mobile-menu {
        display: block;
        visibility: visible;
        opacity: 1;
    }

    .mobile-menu-button {
        display: block;
        padding: 0.5rem;
        border-radius: 0.375rem;
    }

    .mobile-menu-button:hover {
        background-color: #f9fafb;
    }

    .mobile-menu-dropdown {
        transform: translate(-82%, -20%);
        visibility: hidden;
        opacity: 0;
        display: grid;
        position: absolute;
        background-color: white;
        border-radius: 0.375rem;
        width: 98vw;
        max-width: 32rem;
        z-index: 10;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        border: 0.5px solid rgb(0 0 0 / 0.1);
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
        padding: 1rem;
    }

    .active {
        visibility: visible;
        opacity: 1;
    }
}

.mobile-menu-dropdown .flex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-color: rgb(243 244 246 / 1);
    border-bottom-width: 2px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.mobile-menu-dropdown-links {
    padding: 1rem;
}

.mobile-menu-dropdown-links:hover {
    background-color: #f9fafb;
}

.mobile-menu-dropdown #logo {
    width: auto;
    height: 5rem;
}

.mobile-menu-dropdown .close-button {
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.5rem;
    border-radius: 0.375rem;
}

.mobile-menu-dropdown .close-button:hover {
    background-color: #f9fafb;
}

.profil-menu {
    transform: translateX(-70%);
    visibility: hidden;
    position: absolute;
    background-color: white;
    margin-top: 1rem;
    border-radius: 0.375rem;
    width: 100vw;
    max-width: 17rem;
    z-index: 10;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border: 0.5px solid rgb(0 0 0 / 0.1);
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    opacity: 0;
}

.profil-links-container {
    display: grid;
    padding: 2rem;
}

.profil-links {
    padding: 0.75rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.profil-links:hover {
    background-color: #f9fafb;
}

.active {
    visibility: visible;
    opacity: 1;
}

.profil-menu-buttons {
    margin-top: 1rem;
}

.profil-logout-button {
    background-color: #dc2626;
    padding: 0.5rem;
    border-radius: 0.375rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.profil-logout-button:hover {
    background-color: #b91c1c;
}

/* Carousel/Slider */

.carousel-div {
    display: flex;
    align-items: center;
    padding-top: 5rem;
}

.carousel-div .image-containers img {
    display: none;
}

.carousel-div .image-containers img.active {
    display: block;
    transition: 2s;
}

.carousel-content {
    width: 150vw;
    max-width: 60rem;
}

.carousel-content div {
    display: none;
    padding: 7rem;
    transition: 0.5s;
}

.carousel-content h2 {
    font-size: 32px;
    line-height: 60px;
}

.carousel-content p {
    font-size: 16px;
}

.carousel-content a {
    background-color: #3d5cb2;
    padding: 0.5rem;
    border-radius: 00.375rem;
    line-height: 60px;
    color: white;
}

.carousel-content a:hover {
    background-color: #31488b;
}

.carousel-content .active {
    display: block;
}

.carousel-controls {
    display: flex;
    justify-content: center;
}

.carousel-controls .btn {
    border: 1px solid #3d5cb2;
    padding: 7px;
    margin-top: 1rem;
    margin-left: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    background-color: #f9fafb;
}

.carousel-controls .btn.active {
    background: #31488b;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/*************************************************
****************** PAGE SPORT ********************
*************************************************/

.sidebar {
    float: left;
    width: 19.1vw;
    max-width: 28.5rem;
    border-right: 1px solid #e8e8e8;
    height: 100%;
}


.sidebar .sport-title {
    font-size: 23px;
    padding-left: 4rem;
    padding-top: 2rem;
    font-weight: 500;
}

.sidebar-title {
    font-size: 16px;
    margin: 0;
    padding-left: 1rem;
}

.sidebar .barre {
    width: 80%;
    height: 1rem;
    margin-left: 2rem;
    border-bottom: 1px solid #000000;
}

.sidebar-links-container {
    display: grid;
    padding: 2rem;
    padding-top: 1rem;
}

.sidebar-links {
    font-size: 15px;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-weight: 400;
    color: #6b7280;
}

.sidebar-links:hover {
    background-color: #f9fafb;
}

.main {
    float: right;
    width: 80vw;
    height: 100%;
    max-width: 150rem;
    background-color: #f3f4f6;
}

.main .container {
    border-radius: 0.375rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    width: 65%;
    padding: 2rem;
}

.flex {
    display: flex;
    height: 100%;
}

.container .match-title {
    text-align: center;
    font-size: 20px;
}

.match-teams {
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
}

.match-center {
    margin-left: 2rem;
    margin-right: 2rem;
    display: table-cell;
    vertical-align: middle;
}

.match-center span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.match-teamname {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.match-teamhome {
    padding-right: 5rem;
}

.match-teamaway {
    padding-left: 5rem;
}

.match-teamhome-logo img {
    width: 200px;
    height: 200px;
}

.match-teamaway-logo img {
    width: 200px;
    height: 200px;
}

@media (max-width: 1100px) {
    .header {
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        /*height: 125px;*/
    }
}

.match-odds-home {
    margin: auto;
    text-align: center;
}

.match-odds-away {
    margin: auto;
    text-align: center;
}

.odds-links {
    display: inline-block;
    background-color: #3d5cb2;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 0.375rem;
    color: white;
}

.odds-links:hover {
    background-color: #31488b;
}

.betip {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 2rem;
    background-color: white;
    border-top-left-radius: 00.375rem;
    border-top-right-radius: 00.375rem;
    padding: 2rem;
    width: 15vw;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border: #e8e8e8;
}

.betip .betip-title {
    font-size: 18px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.betip .bet {
    justify-content: space-between;
    padding: 0.5rem;
}

.betip .form {
    border-top: 1px solid #e8e8e8;
    margin-top: 1rem;
    padding-top: 1rem;
}

.betip .form form {
    justify-content: space-between;
}

.betip .form .betip-mise {
    width: 2.5rem;
    padding: 0.25rem;
    border: 0.5px solid #e8e8e8;
    border-radius: 0.375rem;
}

.betip .form .betip-button {
    background-color: #3d5cb2;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 00.375rem;
    color: white;
}

.betip .form .betip-button:hover {
    background-color: #31488b;
}

/*************************************************
****************** PAGE LOGIN ********************
*************************************************/

.login-container {
    padding-top: 3rem;
    margin: auto;
    max-width: 28rem;
}

.login-container .logo {
    margin: auto;
    width: 150px;
    height: 150px;
}

.login-title {
    text-align: center;
    font-size: 25px;
}

.login-form {
    padding-top: 2rem;
}

.login-input {
    margin: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border: 1px solid rgb(209 213 219 / 1);
    border-top-left-radius: 00.375rem;
    border-top-right-radius: 00.375rem;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.login-input:focus {
    border-color: #3d5cb2;
    border-width: 2px;
}

.password-input {
    margin: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border: 1px solid rgb(209 213 219 / 1);
    border-bottom-left-radius: 00.375rem;
    border-bottom-right-radius: 00.375rem;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.password-input:focus {
    border-color: #3d5cb2;
    border-width: 2px;
}

.login-items {
    padding-top: 1rem;
    justify-content: space-between;
}

.login-items .forgot-password a {
    color: #3d5cb2;
}

.login-items .login-remember {
    align-items: center;
}

.login-items .login-remember input {
    width: 1rem;
    height: 1rem;
    border-radius: 0.25rem;
}

.login-items .login-remember label {
    align-items: center;
    margin-left: 0.5rem;
    font-size: 0.875rem;
}

.signin-button {
    margin-top: 2rem;
    width: 100%;
    font-size: 00.875rem;
}

.login-button {
    color: white;
    width: 100%;
    margin-top: 1rem;
    background-color: #3d5cb2;
    padding-left: 1rem;
    justify-content: center;
    border-radius: 0.375rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.login-button:hover {
    background-color: #31488b;
}

.login-button svg {
    height: 1.25rem;
    width: 1.25rem;
    color: white;
    opacity: 0;
}

.confirm-input {
    margin: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border: 1px solid rgb(209 213 219 / 1);
    border-radius: 00.375rem;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.confirm-input:focus {
    border-color: #3d5cb2;
    border-width: 2px;
}

/*************************************************
****************** PAGE REGISTER ********************
*************************************************/

.register-container {
    padding-top: 3rem;
    margin: auto;
    max-width: 28rem;
}

.register-container .logo {
    margin: auto;
    width: 150px;
    height: 150px;
}

.register-title {
    text-align: center;
    font-size: 25px;
}

.register-form {
    padding-top: 2rem;
}

.register-form .register-input {
    margin: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border: 1px solid rgb(209 213 219 / 1);
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.register-form .register-input:first-child {
    margin: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border: 1px solid rgb(209 213 219 / 1);
    border-top-left-radius: 00.375rem;
    border-top-right-radius: 00.375rem;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.register-form .register-input:nth-child(3) {
    margin: auto;
    padding: 0.5rem 0.75rem;
    border: 1px solid rgb(209 213 219 / 1);
    border-bottom-left-radius: 00.375rem;
    border-bottom-right-radius: 00.375rem;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.register-form .register-input:focus {
    border-color: #3d5cb2;
    border-width: 2px;
}

.register-form .register-cgu {
    padding-top: 1rem;
}

.cgu-checkbox {
    align-items: center;
}

.cgu-checkbox label {
    padding-left: 0.5rem;
}

.register-button {
    color: white;
    width: 100%;
    margin-top: 1rem;
    background-color: #3d5cb2;
    padding-left: 1rem;
    justify-content: center;
    border-radius: 0.375rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.register-button:hover {
    background-color: #31488b;
}