@import url("base.css");
@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  margin-top: 90px;
  background-color: #efefef;
}

header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
  top: 0;
}

li,
a,
button {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.carre {
  font-family: "Montserrat";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.titre {
  font-family: "Montserrat";
  color: #edf0f1;
  font-size: 32px;
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #3d5cb2;
}

.signin {
  padding: 9px 25px;
  background-color: #3d5cb2;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  margin-right: 25px;
  border: 1pt solid #3d5cb2;
}

.signin:hover {
  background-color: #24252a;
}

.signup {
  padding: 9px 25px;
  background-color: #24252a;
  border: 1px solid #3d5cb2;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.signup:hover {
  background-color: #3d5cb2;
}

.buttons {
  display: flex;
}

.carre {
  background-color: black;
  justify-self: center;
  height: 600px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.container-principal {
  background-color: white;
  justify-self: center;
  height: fit-content;
  width: 1200px;
  margin: auto;
  margin-top: 150px;
  border-radius: 15px;
  text-align: center;
  padding: 50px 50px 50px 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.input-login {
  background-color: white;
  padding: 10px 10px;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 40%;
  border: 1px solid grey;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat";
}

.input-login:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.subtitle {
  font-family: "Montserrat";
  font-size: 18px;
}

#button-login {
  margin: auto;
  padding: 9px 25px;
  background-color: red;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  margin-top: 50px;
}

.login-title {
  margin-bottom: 50px;
  font-size: 32px;
  font-family: "Montserrat";
}

#logo {
  max-height: 50px;
  max-width: 100px;
  height: auto;
  width: auto;
}

/* tooltips nav */

.NavToolTip .test_Tooltip_nav {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: none;
  width: 120px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  box-shadow: none;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 37.5%;
  margin-left: -60px;
}

#tooltip a {
  display: block;
  width: 150px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  background-color: #24252a;
}

.NavToolTip:hover .test_Tooltip_nav {
  display: block;
}

/* Container du pari */

h1 {
  grid-column: 2;
  grid-row: 1;
}

.gauche {
  grid-column: 1;
  grid-row: 2;
}

.container-principal figure {
  height: fit-content;
  width: 100%;
  padding: 20px;
  margin: 0;
  text-align: center;
  background-color: #edf0f1;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.container-principal figure .image {
  height: 100%;
  max-height: 300px;
  max-width: 300px;
  margin-left: 10px;
  border-radius: 10px;
}

.milieu {
  grid-column: 2;
  grid-row: 2;
  margin-top: 40%;
}

.milieu p {
  font-family: "Montserrat";
  font-size: 32px;
  margin-top: 10px;
}

.droit {
  grid-column: 3;
  grid-row: 2;
}

.container-principal div {
  width: 100%;
}

.container-principal h1 {
  margin: auto;
  margin-bottom: 50px;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
  font-family: "Montserrat";
}

.titreequipe {
  margin-bottom: 10px;
  font-family: "Montserrat";
  font-size: 24px;
}

.btnmise {
  background: #3d5cb2;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  margin-top: 25px;
}

.cote {
  margin-top: 15px;
  font-family: "Montserrat";
  font-size: 20px;
}

/* Details du pari */

.container-details {
  background-color: white;
  justify-self: center;
  height: fit-content;
  width: 1200px;
  margin: auto;
  margin-top: 100px;
  border-radius: 15px;
  text-align: center;
  padding: 50px;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: "Montserrat";
}

.line {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #efefef;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.middle {
  grid-column: 2;
}

.right {
  grid-column: 3;
}

.left {
  grid-column: 1;
}

.stats {
  font-weight: bold;
}

/* Footer */

footer {
  background-color: #24252a;
  font-family: "Montserrat";
  margin-top: 100px;
  padding-left: 350px;
  padding-right: 350px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

footer ul li {
  margin-top: 5px;
}

footer .copyright {
  text-align: center;
  color: white;
}

footer .middle {
  grid-column: 2;
  grid-row: 1;
}

footer .right {
  grid-column: 3;
  grid-row: 1;
}

footer .left {
  grid-column: 1;
  grid-row: 1;
}
