@import url("base.css");
@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  margin-top: 90px;
}

header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
  top: 0;
}

li,
a,
button {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.titre {
  font-family: "Montserrat";
  color: #edf0f1;
  font-size: 32px;
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #3d5cb2;
}

.signin {
  padding: 9px 25px;
  background-color: #3d5cb2;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  margin-right: 25px;
  border: 1pt solid #3d5cb2;
}

.signin:hover {
  background-color: #24252a;
}

.signup {
  padding: 9px 25px;
  background-color: #24252a;
  border: 1px solid #3d5cb2;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.signup:hover {
  background-color: #3d5cb2;
}

.buttons {
  display: flex;
}

.login-title {
  margin-bottom: 50px;
  font-size: 32px;
  font-family: "Montserrat";
}

.container {
  background-color: white;
  justify-self: center;
  height: fit-content;
  width: 50%;
  margin: auto;
  margin-top: 150px;
  border-radius: 15px;
  text-align: center;
  padding: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  align-items: center;
}

.input-register {
  background-color: white;
  padding: 10px 10px;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 40%;
  border: 1px solid grey;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat";
}

.input-register:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.subtitle {
  font-family: "Montserrat";
  font-size: 18px;
}

#button-register {
  margin: auto;
  padding: 9px 25px;
  background-color: #3d5cb2;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  margin-top: 25px;
}

.cgu {
  margin: auto;
  text-align: center;
  width: 50%;
  font-family: "Montserrat";
}

.linkcgu {
  color: #3d5cb2;
}

/* Error */

.errorbox {
  background-color: red;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  padding: 10px;
  margin-bottom: 25px;
  font-family: "Montserrat";
}

.errorbox .error {
  color: white;
}

/* Notification */

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.notif-success {
  position: fixed;
  right: 10px;
  background-color: #8bfa87;
  border-left: 5px solid #35ff02;
  width: 250px;
  height: 50px;
  text-align: center;
  line-height: 45px;
  animation: 1s ease-out 0s 1 slideInFromRight;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.success-text {
  font-family: "Montserrat";
}
