@import url("base.css");
@import url("reset.css");
@import url("styles.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.container {
<<<<<<< Updated upstream
  height: fit-content;
  width: fit-content;
=======
  margin-top: 100px;
  height: fit-content;
>>>>>>> Stashed changes
}

.container-match {
  background-color: #fff;
  padding: 30px;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}

.left {
  grid-column: 1;
  grid-row: 2;
}

.middle {
  grid-column: 2;
  grid-row: 2;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.middle .text {
  margin-top: 40%;
  font-family: "Montserrat";
}

.middle p {
}

.right {
  grid-column: 3;
  grid-row: 2;
}

.titre-match {
  grid-column: 2;
  grid-row: 1;
  font-family: "Montserrat";
  font-size: 20px;
}

.team figcaption {
  text-align: center;
  margin-top: 10px;
  font-family: "Montserrat";
}

.team img {
  height: 150px;
  width: 150px;
}

.score1 {
  font-family: "Montserrat";
  float: left;
}

.score2 {
  font-family: "Montserrat";
  float: right;
}

.score {
  font-size: 40px;
}

#scoresOverview {
  width: 200px;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.lien {
  grid-column: 1;
  grid-row: 3;
  width: fit-content;
  height: fit-content;
  margin-top: 40px;
  margin-left: 30px;
}

#pari {
  padding-top: 20px;
  padding: 7px 35px;
  width: fit-content;
  background-color: #24252a;
  border: 1px solid #3d5cb2;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  grid-column: 1;
  grid-row: 3;
}

#pari:hover {
  background-color: #3d5cb2;
}

#th {
  position: center;
  font-family: "Montserrat";
  padding: 25px;
}

#foot {
  padding-top: 25px;
  position: center;
}

.matchtitle {
  font-family: "Montserrat";
}

/* Sidebar */

.main {
  float: right;
  width: 95%;
}

.sidebar {
  font-family: "Montserrat";
  width: 375px;
  background: white;
  float: left;
  margin-top: 100px;
  margin-left: 50px;
  border-radius: 15px;
  position: absolute;
  left: 0;
  padding: 25px;
  height: fit-content;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.sidebar a {
  color: black;
}

.sidebar li {
  margin-top: 5px;
}

.sidebar-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-family: "Montserrat";
}
