@import url("base.css");
@import url("reset.css");

body {
  margin: 0;
  margin-top: 90px;
}

header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
  top: 0;
}

li,
a,
button {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.titre {
  font-family: "Montserrat";
  color: #edf0f1;
  font-size: 32px;
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #3d5cb2;
}

.signin {
  padding: 9px 25px;
  background-color: #3d5cb2;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  margin-right: 25px;
  border: 1pt solid #3d5cb2;
}

.signin:hover {
  background-color: #24252a;
}

.signup {
  padding: 9px 25px;
  background-color: #24252a;
  border: 1px solid #3d5cb2;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.signup:hover {
  background-color: #3d5cb2;
}

.buttons {
  display: flex;
}

.slider {
  background-color: red;
  justify-self: center;
  height: 400px;
  width: 50%;
  margin: auto;
  margin-top: 150px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.container {
  background-color: white;
  justify-self: center;
  height: 500px;
  width: 50%;
  margin: auto;
  margin-top: 150px;
  border-radius: 15px;
  text-align: center;
  padding: 50px;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.input-login {
  background-color: white;
  padding: 10px 10px;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 40%;
  border: 1px solid grey;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat";
}

.input-login:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.subtitle {
  font-family: "Montserrat";
  font-size: 18px;
}

#button-login {
  margin: auto;
  padding: 9px 25px;
  background-color: red;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  margin-top: 50px;
}

.login-title {
  margin-bottom: 50px;
  font-size: 32px;
  font-family: "Montserrat";
}

#logo {
  max-height: 50px;
  max-width: 100px;
  height: auto;
  width: auto;
}
h1{
    margin: auto;
    margin-top: 150px;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 64px;
}
h2{
    margin-top: 25px;
    width: 60%;
    text-align: center;
    font-size: 35px;

}
.text p{
    margin-top: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
}
img{
    margin-top: 50px;
    margin-left: 100px;
    max-width: 10%;
    max-height: 10%;
  }
.image p{
    
    margin-left: 100px;
    max-width: 10%;
    max-height: 10%;
  }