@import url("base.css");
@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  margin-top: 90px;
}

header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
  top: 0;
  z-index: 1;
}

li,
a,
button {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.titre {
  font-family: "Montserrat";
  color: #edf0f1;
  font-size: 32px;
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #3d5cb2;
}

.signin {
  padding: 9px 25px;
  background-color: #3d5cb2;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  margin-right: 25px;
  border: 1pt solid #3d5cb2;
}

.signin:hover {
  background-color: #24252a;
}

.signup {
  padding: 9px 25px;
  background-color: #24252a;
  border: 1px solid #3d5cb2;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.signup:hover {
  background-color: #3d5cb2;
}

.buttons {
  display: flex;
}

.body-content {
  background-color: red;
  justify-self: center;
  height: 400px;
  width: 50%;
  margin: auto;
  margin-top: 150px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.container {
  background-color: white;
  justify-self: center;
  height: 500px;
  width: 50%;
  margin: auto;
  margin-top: 150px;
  border-radius: 15px;
  text-align: center;
  padding: 50px;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.input-login {
  background-color: white;
  padding: 10px 10px;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 40%;
  border: 1px solid grey;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat";
}

.input-login:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.subtitle {
  font-family: "Montserrat";
  font-size: 18px;
}

#button-login {
  margin: auto;
  padding: 9px 25px;
  background-color: red;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  margin-top: 50px;
}

.login-title {
  margin-bottom: 50px;
  font-size: 32px;
  font-family: "Montserrat";
}

#logo {
  max-height: 50px;
  max-width: 100px;
  height: auto;
  width: auto;
}

/* tooltips nav */

.NavToolTip .test_Tooltip_nav {
  opacity: 0%;
  visibility: hidden;
  padding-top: 40px;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  width: 120px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  box-shadow: none;
  transition: all ease 1s;

  /* Position the tooltip */
  position: absolute;
  top: 100px;
  left: 36.5%;
  margin-left: -60px;
}

#tooltip a {
  display: block;
  width: 150px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  background-color: #24252a;
}

#sp:hover .test_Tooltip_nav {
  opacity: 100%;
  visibility: visible;
}

/* Slider */

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.banner .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 0.5s;
  background-position: center;
}

.banner .imgBx img.active {
  opacity: 1;
}

.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 80px;
}

.controls li {
  position: relative;
  width: 80px;
  height: 80px;
  background: #fff;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.controls li:hover {
  background: #ffeb3b;
}

.controls li::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-left: 3px solid #111;
  border-bottom: 3px solid #111;
  transform: rotate(45deg);
}

.controls li:nth-child(2)::before {
  transform: rotate(225deg);
}

.contentBx {
  position: absolute;
  bottom: 0;
  max-width: 700px;
}

.contentBx div {
  display: none;
}

.contentBx div.active {
  display: block;
  padding-left: 30px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin-left: 100px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 25px;
}

.contentBx div h2 {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  font-family: "Montserrat";
  margin-bottom: 10px;
}

.contentBx div p {
  color: #111;
  font-size: 1.1em;
  font-family: "Montserrat";
  margin-bottom: 25px;
}

.contentBx div a {
  color: #111;
  font-size: 1.1em;
  display: inline-block;
  padding-left: 10px 30px;
  padding: 10px 10px 10px 10px;
  background: #fff;
  margin-top: 10px;
  font-family: "Montserrat";
}
